<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="/about/">About Us</a></li>
            <li><a href="/contact/">Contact us</a></li>
            <li><a href="/contact/">Follow us on facebook</a></li>
          </ul>
        </div>
        <p>Copyright &copy; WWEN</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>

